* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}
/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Common ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
a {
    text-decoration: none ; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1232px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

input, textarea, select, button {
    font-size: inherit;
    font-family: inherit;
}

.btn {
    --height: 44px;
    display: inline-block;
    min-width: 104px;
    height: var(--height);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: var(--height);
    text-align: center;
    color: #FFFFFF;
    background: #2E80CE;
    border-radius: 999px;
    border: none;
    display: inline-block;
    padding: 0 20px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;

}

.section-header .read-more a {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Common ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */




