.travel-main .container {
    display: flex;
}

/* Style cho sidebar */
.travel-main .sidebar {
    width: 25%;
    background-color: #f2f2f2;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.travel-main .travel-catalog {
    list-style: none;
    padding: 0;
    margin: 0;
}

.travel-main .travel-catalog li {
    margin-bottom: 10px;
    display: block;
    padding: 2px 0 2px 5px;
}

.travel-main .travel-catalog a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    line-height: 3.0rem;
}

.travel-catalog li:hover {
    display: block;
    background-color: #4CAF50; /* Màu xanh đậm */
    color: #fff; /* Màu chữ trắng */
    cursor: pointer;
}

/* Style cho sidebar */


/* Style cho nội dung chính */
.travel-main .main-content {
    width: 75%;
    padding: 20px;
}

.travel-post {
    margin-bottom: 30px;
    border: 1px solid #E5E5E5;
    padding: 20px;
}

.travel-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.travel-post .post-meta {
    font-size: 14px;
    color: #777777;
    margin-bottom: 15px;
}

.travel-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.travel-post .post-content {
    line-height: 1.6;
    margin-bottom: 20px;
}

.travel-post .read-more {
    color: #10375C;
    text-decoration: none;
    font-weight: bold;
}