.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden; 
    user-select: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-container {
    background: #fff;
    border-radius: 10px;
    max-width: 500px;
    min-height: 600px;
    padding: 48px 16px;
    position: relative;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h1 { 
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    margin: 20px 0 5px 0;
}

label { 
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-in {
    width: 100%;
    padding: 10px;
    background-color: #0a66c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 15px 0;
}

button:hover {
    background-color: #0056b3;
}

.social-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.google-button, .facebook-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 10px; 
    background-color: #fff; 
    color: #333; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
    margin-bottom: 10px; 
    transition: background-color 0.3s ease;
}

.google-button:hover, .facebook-button:hover {
    background-color: #f2f2f2;
}

.google-icon, .facebook-icon {
    margin-right: 10px;
}

a {
    color: #0a66c2;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
}

a:hover {
    text-decoration: underline;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    text-align: center;
}

.line::before, .line::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: rgba(205, 207, 210, 1);
}

.line::after {
    margin-left: 10px; /* Khoảng cách giữa 2 đường */
}

.sign-up {
    margin-top: 10px;
    font-size: 1.4rem;
}